body {
    background: radial-gradient(#47737b, #479986, #2c8f98);
}

img .icon {
    display: block;
    margin: 20px auto;
    border-radius: 50%;
}

h1 {
    color: white;
    margin-bottom: 4px;
    align-items: center;
}

h2 {
    color: white;
    margin-top: 1px;
}

hr {
    width: 94%;
    background-color: whitesmoke;
    height: 2px;
}

a {
    color: whitesmoke;
}

h4 {
    width: 90%;
    margin-left: 60px;
    margin-right: 10px;
}

table {
    border-radius: 10%;
}

.title {
    text-align: right;
    animation: moveTitle ease-in-out forwards;
}

@keyframes moveTitle {
    0% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(0%);
    }
}

.icon {
    border-radius: 50%;
}